* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}

:root {
    --main-color: #17A095;
}

.info-btn {
    color: white;
}

.heading {
    width: 40%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;

}

.perfil-img {
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 2rem auto;
}

body {

    background-image: linear-gradient(#3a3d40 0%, #181719 100%);

}

.container {
    display: flex;
    width: 60%;
    flex-direction: column;
    background-color: white;

}

.contenido {
    padding-right: 1rem;
}

.experiencia,
.educacion,
.certificados,
.publicaciones,
.referencias {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item {
    padding-bottom: 1rem;
}

main {
    display: flex;
    width: 210mm;
    height: 100%;
    margin: 0 auto 5rem auto;
}

.resumen {
    width: 100%;
    background-color: #f0f3f5;
    margin: 0 auto;
    padding: 1rem;
}

.grado {
    font-size: .8rem;
    margin-bottom: 1rem;
}

.exp-title {
    color: var(--main-color);
}

.empresa,
.ciudad {
    display: inline-block;
    font-size: .8em;
}

.ciudad {
    font-style: italic;
    margin-left: .5rem;
}

.fecha {
    font-size: .8em;
    padding-bottom: 1rem;
}

.actividades {
    font-size: .8em;
}

.ed-list {
    font-size: .9em;
}

.curso-list {
    font-size: .9em;
    margin-bottom: .4rem;

}

.curso-title {
    color: #17A095;
    font-weight: bold;
}

.curso {

    font-weight: 500;
    display: inline-block;
    margin-left: 1rem;

}

.fecha-curso {
    display: inline-block;
    font-style: italic;
    margin-left: .4rem;
}

.doi {
    font-size: .8em;
}

.doi-link {
    text-decoration: none;
    color: black;
}

.publicaciones {
    font-weight: inherit;
    font-size: .9em;

}

.revista {
    display: inline-block;
    color: var(--main-color);
    font-weight: bold;
}

.pub-title {
    font-weight: 400;
}

.ref-title,
.numero {
    font-size: .9rem;
}

.info {
    margin: 0 2rem .3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



}

#check {
    display: none;
}

.check-btn {
    display: none;
}

.info-title {
    color: white;
    font-weight: bold;
}

.info-text {
    color: white;
    font-size: .8em;
}

.redes-link {
    color: white;
    padding: 1rem;

    border-radius: 10px;

}

.redes {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 80%;
    padding-bottom: 1rem;
    border-bottom: solid 2px white;

}

.redes-link:hover {
    color: #3b5998;
    background-color: white;
}

.habilidades {
    border-bottom: white solid 2px;
    margin: 1rem 2rem;
    color: white;
    font-size: .9em;
    padding-bottom: 2rem;
}

.hab,
.lang {
    margin-bottom: 1rem;
}

.idiomas {

    margin: 1rem 2rem;
    color: white;
    font-size: .9em;
    padding-bottom: 2rem;
    border-bottom: white solid 2px;
}

.download {

    margin: 1rem 2rem;
    color: white;
    font-size: .9em;
    padding-bottom: 2rem;

}

.pdf-btn {
    text-decoration: none;
    margin: 0 auto;
    padding: .5rem;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    width: 50%;


}

.pdf-btn:hover {
    background-color: white;
    color: #F40F02;
}


.multi-lang {

    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;

}

.check {
    width: 50px;
    position: relative;

}

.check::before {

    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #5b5b5b;
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--main-color);
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid white;
}

.check:checked:before {
    background: white;
}


.flag-item {
    width: 40px;
    height: 30px;
}

@media (max-width:812px) {
    main {
        width: 100%;
        height: 100%;

    }

    /* */
}

@media (max-width:610px) {
    .perfil-img {
        width: 8rem;
        height: 8rem;

    }

    .multi-lang {

        width: 30%;


    }
}

@media (max-width:395px) {

    main {
        display: flex;
        flex-direction: column;
    }

    .multi-lang {

        width: 40%;


    }

    .check-btn {
        display: flex;
        color: white;
        font-size: 1.30rem;
        margin: 0 auto;
        font-weight: bold;
        width: 45%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        background-color: white;
        border-radius: 10px;
        color: #17A095;
        padding: .5rem;
    }


    .heading {
        width: 100%;

    }

    .container {
        width: 100%;
    }

    .pdf-btn {

        width: 50%;


    }


    .info-part {
        display: none;

    }

    #check:checked~.info-part {
        display: block;

    }

    .perfil-img {
        width: 10rem;
        height: 10rem;
        margin: 1rem auto;

    }

    @media (max-width:567px) {}


}